* {
  box-sizing: border-box;
}

body {
  padding: 2em;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .5em;
}

.form {
  width: 300px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.delete-btn {
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: whitesmoke;
  transition: background-color 250ms;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: firebrick;
}

.notification {
  margin-bottom: 1em;
  padding: .5em;
  font-size: 1.25em;
  font-weight: bold;
  color: #5B9A8B;
  border: 1px solid #5B9A8B;
  border-radius: 8px;
}