*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: Arial;
}

.flex {
  display: flex;
  align-items: center;
  gap: .5em;
}

.flag-container {
  border: 1px solid gray;
}

.show-btn {
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(46, 146, 146);
  cursor: pointer;
  transition: background-color 250ms;
}

.show-btn:hover {
  background-color: rgb(40, 109, 109);
}