*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: Arial;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5em;
}

.bolded {
    font-weight: bold;
}

.form {
    max-width: 250px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.add-btn {
    margin-bottom: .5em;
}