*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: Arial;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5em;
}

.bolded {
    font-weight: bold;
}

.form {
    max-width: 250px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.add-btn {
    margin-bottom: .5em;
}

.message,
.error {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: .75em;
    margin-bottom: .75em;
}

.message {
    color: green;
    border: 1px solid green;
}

.error {
    color: red;
    border: 1px solid red;
}

.blog-container {
    margin-top: 1em;
}